<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deeba.deebadriver">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity android:name=".support"></activity>
        <activity android:name=".My_Trips" />
        <activity
            android:name=".Legal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pricing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FreNav"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FreMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FreWelcome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllAvailableTasks"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Tasks" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key1" />

        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginDriver" />
        <activity android:name=".Welcome" />

        <service android:name=".ExampleService" />
    </application>

</manifest>